/** Carousel **/
.jcarousel-wrapper {position: relative;}
.jcarousel{
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: auto; 
}
.jcarousel ul{width: 20000em;position: relative; float: left;}
.jcarousel.controlsActived, .jc-content3 {width: calc(100% - 60px)!important;}
.jcarousel li {padding: 5px;float: left;}
.jcarousel .contLimit{width: 100%;}
.jcarousel img{
    display: block;
    width: 100%;
    max-width: 100%!important;
    height: auto!important;
}
/** Carousel Controls 3 **/
.btnPrev, .btnNext{
    top: 0%;
    width: 30px;
    height: 100%;
    position: absolute!important;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
    z-index: 9;
}
.btnPrev {left: 0%;}
.btnNext {right: 0%;}
.btnPrev:before, .btnNext:before{
    font-family: 'nexus-icons', 'material-icons';
    left: 0;
    top: calc(50% - 20px);
    position: absolute;
    width: 30px;
    height: 40px;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    line-height: 4rem;
}
.btnPrev:before{content: "\e007";}
.btnNext:before{content: "\e008";}