/* -------------------------------------------------------------------------- */
/*                                          780                               */
/*                                  40     82 84                              */
/*                                  080  787  70                              */
/* 4088       087 88808080888087     08974    75 807        780 8080808088808 */
/* 080888     807                     780     77 887        708 082           */
/* 805  0807  887 8080808888          7072    77 807        780 8888808080808 */
/* 080    0087807 080                157770      087        708           780 */
/* 808      28087 80888880808887    20    18     80888880888088 8880888088808 */
/*                                 70      78                                 */
/*                                70        782                               */
/*                                8                                           */
/*                               87                                           */
/*                              18                                            */
/*                              8                                             */
/*                             87                                             */
/*                             9                                              */
/* -------------------------------------------------------------------------- */
/* Css: v2.6 - DaRosa - 52 - 03/02/2015 -----_-Joseafs------------------------*/
/* -------------------------------------------------------------------------- */
@media all and (min-width: 1025px){
/* -------------------------------------------------------------------------- */
/* Ocultados */
    #header-menu{display: inline-block!important;}
}
@media all and (max-width: 1024px){
/* -------------------------------------------------------------------------- */
/* Ocultados */

header:before{content: none; animation: none;}
#header-menu{display: none;}
/* -------------------------------------------------------------------------- */
/* Visiveis */
#header-toggle{display: inline-block!important;}
/* -------------------------------------------------------------------------- */
/* Header */
#header-menu .contMenu li{margin: 0; width: 50%;}

/* -------------------------------------------------------------------------- */
/* Tabela */
.tb-view .tb-line{
    display: inline-block;
    width: 100%;
    padding: 0 60px 0 0;
    clear: both;
    position: relative;
} 
.tb-view .tb-line:nth-child(2){border-radius: 3px 3px 0 0;}

.tb-view .tb-head{
    display: none;
}
.tb-view .tb-line .tb-col-child{position: relative;border-radius: 3px;} 

.tb-view div.tb-col-child{padding: 2px!important; } 
.tb-view .tb-col{width: 100%; padding: 4px; text-align: left;}

.tb-view .tb-download{
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    height: 100%;
    width: 60px!important;
}
.tb-view .tb-download .tb-col-child{height: 100%;;border-radius: 3px;}

.tb-view .tb-download {text-align: center;}
.tb-view .tb-download a{background: url(../img/downloadPdf.svg) center center no-repeat;
    background-size: 40px;
}
.tb-view .tb-title{display: inline-block;font-weight: bold; color: #003C58; font-size: 1.2rem;}
/* -------------------------------------------------------------------------- */
/* Ajustes MD */

.md-w100{width: 100%!important;}
.md-w80{width: 80%!important;}
.md-w50{width: 50%!important;}
.md-w50:nth-child(3n){clear: both;}
.md-w33{width: 33%!important;}


.md-displayOn{display: block;}

#page-wrap .contBox .box6,#page-wrap .contBox .box5{width: 25%!important;}

#page-wrap{padding: 0!important;}
/* -------------------------------------------------------------------------- */
/* Barra lateral */
.asideContent{
    z-index: 9;
    width: 100%;
    height: calc(100% - 46px);
    overflow: auto!important;
}
#aside-left{
    position:absolute;
    left: -240px;
    top: 0;
    background: #fff;
    height: 100%;
    z-index: 9;
    padding: 8px 8px 8px 8px;
    box-shadow: 2px 0 2px 0px rgba(0,0,0,.3);;
}
#aside-leftBtn{
    position: fixed;
    left: -5px;
    top: calc(50% - 18px);
    cursor: pointer;
}

#aside-left #aside-leftBtn.active{
    right: 8px;
    left: auto;
    top: 10px;
    position: absolute;
}

/* -------------------------------------------------------------------------- */
.icone{
    right: 0px;
    width: 250px;
    top: 20px;
}

}
@media all and (max-width: 1124px){ 
header .container .contMenu li{margin: 0px 10px;}
}
