/* -------------------------------------------------------------------------- */
/*                                                                            */ 
/*     88888      88884   788888888888888   788884    78888   788888888888888 */ 
/*    78887      488882  8888888888888888  88887    1888888  8888888888888888 */ 
/*    7          88888  28888              87                88888            */ 
/*       88      88888  888885 777777         2  777777777  088888 7777777    */ 
/*    88888     58888   888888888888888    788878888888888  7888888888888887  */ 
/*   88888      88888            788888  788887         7             888881  */ 
/*   88888     788889             88888  88888                        88888   */ 
/*  7888888888888888  7888888888888888   8888888888888881  8888888888888884   */ 
/*   78888888888887   788888888888887     08888888888888   88888888888881     */ 
/*                                                                            */
/* -------------------------------------------------------------------------- */
/* Css: v2.7 - Londres Color - 55 - 12/02/2016 ----`---_-Joseafs---------------*/
/* -------------------------------------------------------------------------- */
@import 'uses.css';
/* -------------------------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Dosis:400,600|Roboto:300,400,500);
/* font-family: 'Roboto', sans-serif; */
/* -------------------------------------------------------------------------- */
@font-face {
    font-family: 'material-icons';
    font-style: normal;
    font-weight: 400;
    src: url(../iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(../iconfont/MaterialIcons-Regular.woff2) format('woff2'),
         url(../iconfont/MaterialIcons-Regular.woff) format('woff'),
         url(../iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
@font-face {
    font-family: "uses-icons";
    src:url("../iconfont/uses.eot");
    src:url("../iconfont/uses.eot?#iefix") format("embedded-opentype"),
      url("../iconfont/uses.woff") format("woff"),
      url("../iconfont/uses.ttf") format("truetype"),
      url("../iconfont/uses.svg#uses") format("svg");
    font-weight: normal;
    font-style: normal;
}
.fIcon:before{float: left;}
.fIcon{
    font-family: 'material-icons' ;
    position: relative;
    font-weight: normal;
    font-style: normal;
    font-size: 1.8rem; 
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}
.fIcon-uses{font-family: 'uses-icons'!important;}
.fDosis{font-family: 'Dosis', sans-serif, Arial, Helvetica, serif;}
/* -------------------------------------------------------------------------- */
/* Definir */
body{font-family: 'Roboto', sans-serif, Arial, Helvetica, serif;}
section{min-height: calc(100% - 300px);}  /* 178(footer) + 122(header) */
/* -------------------------------------------------------------------------- */
/* Topo/Rodape */
header{box-shadow: 0 2px 2px 0px rgba(0,0,0, .3);}
header:before{
    content: '';
    height: 300px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 144px;
    background: url(../img/inkShadow.png) bottom center repeat-x;
    /*animation: teser 90s linear infinite;*/
}
@keyframes teser{
    to{background-position-x: 0;}
    from{background-position-x: -1920px; }
}

footer{box-shadow: 0 -2px 2px 0px rgba(0,0,0, .3);}

#localMaps{height: calc(100% + 30px);}

#header-logo{width: 470px;}

#header-toggle{
    top: calc(50% - 18px);
    position: absolute;
    right: 0;
    display: none;
}
/* -------------------------------------------------------------------------- */
/* Menus */
.contMenu li{
    z-index: 9;
    float: left;
    position: relative;
}
.contMenu li a{
    text-align: center;
    z-index: 5;
    width: 100%;
    float: left;
    position: relative;
    border-radius: 3px;
}
header .contMenu>li{margin: 0 20px;}
header .contMenu>li>a{padding: 8px 20px;}
.contMenu li a, .contMenu li a:link, .contMenu li a:visited{color: #fff;}
.contMenu .subMenu{
    text-align: left;
    float: left;
    top:100%;
    position: absolute;
    left: 0;
    z-index: 4;
    min-width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 3px 0px rgba(0,0,0, .3);
    border-radius: 0 0 3px 3px;
    max-height: 0;
    overflow: hidden;
}
.contMenu .subMenu .subMenuContent{ overflow-x: auto; max-height: 340px; float: left; width: 100%;}
.contMenu .subMenu ul li{
    float: left;
    padding: 0;
    min-width: 100%; 
}
.contMenu .subMenu ul li a{
    text-align: left;
    padding: 10px;
    font-size: 1.4rem;
    white-space: nowrap; 
}
header .contMenu a:hover{background-color: rgba(0,0,0,.1)!important;}

.subMenu a, .subMenu a:link, .subMenu a:visited{color: #333!important;}
/* -------------------------------------------------------------------------- */
/* Limitadores */
.box4 .contLimit{width: 280px;}

#galeria .box5 .contLimit{width: 200px; height: 150px;}


.view-slick4 .contLimit{max-width: 220px;}

/* -------------------------------------------------------------------------- */
/* Banner */
.rsContent .container{max-width: 1024px; width: calc(86% - 100px);}
/* -------------------------------------------------------------------------- */
/* Home */
#page-wrap{padding-top: 130px;}

#home-slider{min-height: 300px;}

#home-produtos{padding-bottom: 45px!important;}

.prateleira{
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: -55px;
    z-index:100;
    width: 100%;
    height: 90px;
    z-index: 1;
}
.prateleira:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 100%;
    background: url(../img/prateleira.svg) center center no-repeat;
    background-size: 100%;
}
.prateleira:before{
    content: '';
    position: absolute;
    top: 46%;
    z-index: 1;
    background-color: rgba(0,0,0,.3);
    left: 26px;
    right: 26px;
    height: 20px;
    box-shadow: 0px 14px 8px 6px rgba(0,0,0,.3);
    overflow: hidden;
    border-radius: 50%;
}
/* -------------------------------------------------------------------------- */
/* Secoes */
.catProdAtivo{box-shadow: inset 0 0 2px 2px #E92427;}
/* -------------------------------------------------------------------------- */
/* Barra lateral */
#aside-left{width: 240px;}
#pg-view-aside{width: calc(100% - 250px);}

/* -------------------------------------------------------------------------- */
/* google maps */ 
#rotaMaps{width: calc(100% - 397px);}
#rotaTxt{width: 387px;}
/* -------------------------------------------------------------------------- */
/* Mapa */
#svg-map path { transition: all .4s ease-in; fill:hsla(359, 82%, 73%, 1); }
#svg-map text { fill:#fff; font:12px Arial-BoldMT, sans-serif; cursor:pointer }
#mapaPguai text{font-size: 4px;}

#svg-map a{ text-decoration:none ;}
#svg-map a:hover { cursor:pointer; text-decoration:none; }
#svg-map a:hover path{ fill:hsla(359, 82%, 55%, 1)!important;  }
#svg-map .circle { fill:hsla(359, 82%, 45%, 1);}
#svg-map a:hover .circle { fill:hsla(359, 82%, 35%, 1)!important; cursor:pointer ;}

/* -------------------------------------------------------------------------- */
.icone{
    position: absolute;
    right: 170px;
    width: 250px;
    top: -60px;
    z-index: -1;
}
.icone .icone_pointer{
    position: absolute;
    top: 0%;
    width: 25%;
    right: 40%;
    animation: animaRotate_H 1.5s infinite linear ;
    -webkit-animation: animaRotate_H 1.5s infinite linear ;
}
@keyframes animaRotate_H{
    100% {transform: rotateY(360deg);}
}
/* -------------------------------------------------------------------------- */
/* SOCIAL ICONES */
.socialIcones{
    z-index: 999;
}
.socialIconesFacebook{
    z-index: 1;
    width: 55px;
}
#share_button{
    cursor: pointer;
    background: #4966B6;
    color: #fff;
    padding: 2.6px 15px;
}
.content #videoincorporado{
    width: 100%;
    max-width: 500px;
        
}
.content #tabelaincorporado{margin:2% 0 2% 0;}
/* -------------------------------------------------------------------------- */