/* -------------------------------------------------------------------------- */
/*                                          780                               */
/*                                  40     82 84                              */
/*                                  080  787  70                              */
/* 4088       087 88808080888087     08974    75 807        780 8080808088808 */
/* 080888     807                     780     77 887        708 082           */
/* 805  0807  887 8080808888          7072    77 807        780 8888808080808 */
/* 080    0087807 080                157770      087        708           780 */
/* 808      28087 80888880808887    20    18     80888880888088 8880888088808 */
/*                                 70      78                                 */
/*                                70        782                               */
/*                                8                                           */
/*                               87                                           */
/*                              18                                            */
/*                              8                                             */
/*                             87                                             */
/*                             9                                              */
/* -------------------------------------------------------------------------- */
/* Css: v2.6 - DaRosa - 52 - 08/12/2015 ---_-Joseafs--------------------------*/
/* -------------------------------------------------------------------------- */
/* Tamanhos */
.contTabs, .sm-w100{width: 100%!important;}

.sm-floatOff{float: none!important;}
.sm-floatR{float: right!important;}
.sm-clearB{clear:both;}

.content>.w50{padding: 10px 0;}

.formInfo{ position: relative!important; margin: 0;}

.prateleira:before{
    top: 36%;
}

.header-logo{width: 113px;}
.aside-rightBtn{margin-top: 8px;}
#header-wrap{height:50px;}

#header-logo{float: left; margin-left: 10px; width: 240px;}

.contTabs .box3{width: 100%!important;padding: 2px;} 
.contTabs .tab-content{position: relative; top: 0;}
.contTabs [id^="tab"]:checked + label {top: 0!important;}

#page-wrap .contBox .box6,#page-wrap .contBox .box5,#page-wrap .contBox .box4{width: 33%!important;}
/* -------------------------------------------------------------------------- */
/* Titulos */
#preLoader.loading:before{font-size: 5rem;}

.rsABlock .container{margin-top: 10px; width: 96%;}
.rsABlock h1{font-size: 2.6rem!important;}
.rsABlock h4{font-size: 1.6rem!important;}

/* -------------------------------------------------------------------------- */
.icone{
    width: 120px;
    top: 40px;
    right: 10px;
}
/*#svg-map{height: 400px;} */

@media all and (max-width: 640px){
.default{text-align: center;}
.default .title{padding: 15px 0 8px 0;}
.default img{
    float: none;
    display: inline-block;
    margin: 0;
    text-align: center;
}
#preLoader.loading:before{font-size: 4rem;}

/* -------------------------------------------------------------------------- */
/* Tamanho */

.box6{width: 33.3333%;}

.inputField, #header-menu .contMenu li{width: 100%;}
.iptBtn{width: 100%; height: auto!important; padding: 10px 0; font-size: 1.6rem!important;}

}
@media all and (max-width: 520px){
/* -------------------------------------------------------------------------- */
/* Tamanhos */
.box3{width: 100%;}

#page-wrap .contBox .box6,#page-wrap .contBox .box5,#page-wrap .contBox .box4, #page-wrap .contBox .box3{width: 50%!important;}

/* -------------------------------------------------------------------------- */
/* Titulos */
h1{font-size: 2.2rem!important;}
}

@media all and (max-width: 480px){
/* -------------------------------------------------------------------------- */
/* X Small */
.xsm-w100{width: 100%!important;}

.box6{width: 50%;}


}
@media all and (max-width: 420px){
#preLoader.loading:before{font-size: 3rem;}

#socialFb{width: 100%!important;}
}
@media all and (max-width: 360px){
#header-atendimento .fIcon{margin: 0;} 
#header-atendimento .fIcon ~ span{display: none;}

.box6, #page-wrap .contBox .box6,#page-wrap .contBox .box5,#page-wrap .contBox .box4, #page-wrap .contBox .box3{width: 100%!important;}
}